body, p, a, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.form__item {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: 0 auto;
}

.label {
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #002033;
    margin-bottom: 10px;
}

.multiselect {
    width: 594px;
    position: relative;
    margin-bottom: 12px;
}

.multiselect__selected-items {
    max-width: 100%;
    padding: 8px 13px 8px 13px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 66, 105, 0.28);
    border-radius: 4px;
}

.selected-item {
    display: inline-block;
    align-items: center;
    padding: 5px 8px 5px 12px;
    color: #00395C;
    background-color: rgba(0, 66, 105, 0.07);
    transition: background-color .2s;
    border-radius: 4px;
    margin-right: 20px;
}

.selected-item:hover {
    background-color: rgba(0, 66, 105, 0.1);
}

.selected-item__wrap {
    display: flex;
    gap: 9px;
    align-items: center;
}

.selected-item__text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    color: rgba(0, 57, 92, 0.8);
}

.multiselect__console {
    display: flex;
    align-items: center;
    height: min-content;
}

.gate {
    width: 1px;
    height: 32px;
    margin: 0 12px 0 14px;
    background-color: rgba(0, 66, 105, 0.28);
}

.multiselect__items, .multiselect__items_active {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin-top: 12px;
    padding: 9px;
    border: 1px solid rgba(0, 66, 105, 0.28);
    position: absolute;
    z-index: 10;
    transition: opacity .2s, visibility .2s;
    opacity: 1;
    overflow-y: auto;
    max-height: 400px;
    background-color: white;
}

.multiselect__items {
    visibility: hidden;
    opacity: 0;
}

.multiselect__items_active {
    visibility: visible;
    opacity: 1;
}

.multiselect__items-list li {
    margin-bottom: 10px;
}

.multiselect__items-list li:last-of-type {
    margin-bottom: 0;
}

.item__wrap {
    display: flex;
    cursor: pointer;
    gap: 8px;
}

.button-clear {
    width: 12px;
    height: 13px;
}

.button-close {
    transform: rotate(180deg);
}

.button-open {
    transform: rotate(0deg);
}

.button-open, .button-close {
    transition: transform .2s linear;
    width: 9px;
    height: 6px;
}

.button-open img, .button-close img {
    max-width: 100%;
    height: auto;
    display: block;
}