body {
  margin: 0;
  font-family: 'Segoe', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.error {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #D32F2F;
  margin-bottom: 10px;
}
