body, p, a, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.form__item {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: 0 auto;
}

.label {
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #002033;
    margin-bottom: 12px;
}

.multiselect {
    width: 594px;
    position: relative;
    margin-bottom: 12px;
}

.multiselect__selected-items {
    max-width: 100%;
    padding: 8px 14px 8px 14px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 66, 105, 0.28);
    border-radius: 4px;
}

.selected-item {
    display: inline-block;
    padding: 4px 8px 4px 8px;
    color: #00395C;
    background: rgba(0, 66, 105, 0.07);
    border-radius: 4px;
}

.selected-item__text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.multiselect__console {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 20px;
    align-self: flex-end;
}

.gate {
    width: 1px;
    height: 25px;
    background-color: rgba(0, 66, 105, 0.28);
}

.multiselect__items {
    max-width: 100%;
    margin-top: 12px;
    padding: 8px;
    border: 1px solid rgba(0, 66, 105, 0.28);
    position: absolute;
    transition: opacity .2s;
    opacity: 0;
    overflow-y: auto;
    max-height: 400px;
}

.multiselect__items_active {
    max-width: 100%;
    margin-top: 12px;
    padding: 8px;
    border: 1px solid rgba(0, 66, 105, 0.28);
    position: absolute;
    transition: opacity .2s;
    opacity: 1;
    overflow-y: auto;
    max-height: 400px;
}

.multiselect__items-list li {
    margin-bottom: 8px;
}

.multiselect__items-list li:last-of-type {
    margin-bottom: 0;
}

.item__wrap {
    display: flex;
    cursor: pointer;
}

.button-close {
    transition: transform .2s linear;
    transform: rotate(180deg);
}

.button-open {
    transition: transform .2s linear;
    transform: rotate(0deg);
}